@import "./colors";
@import "./fonts";

.coffeebatch {
  display: flex;
  padding: 3rem 2rem;
  overflow-y: scroll;
  @media (max-width: 600px) {
    flex-direction: column;
    padding: 3rem 0.5rem;
  }
  .logo {
    height: 2rem;
  }
  .nft {
    position: absolute;
    margin-top: 1rem;
    height: 15rem;
  }
  .btn-secondary {
    background-color: $white;
    border: 0rem solid;
    color: $light !important;
    text-decoration: underline;
    text-align: left;
  }
  .btn-secondary:hover {
    background-color: transparent;
    border: 0rem solid;
  }
  .btn-secondary:focus {
    background-color: transparent;
    border: 0rem solid;
  }
  .card {
    width: 25rem;
    border-radius: 10px;
    @media (max-width: 600px) {
      width: auto;
    }
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 1rem;
      height: 7rem;
      background-image: url("../assets/coffee.jpg");
    }
    &-footer {
      display: flex;
      justify-content: center;
      padding: 0.8rem;
    }
  }
  .cupprofile,.wetMill,.dryMill,.certification {
    margin-left: 2rem;
  }
  .batch-detail {
    margin-top: 9rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5rem 0rem 1rem 0rem;
  }
  .info-row { 
    display: flex;
    justify-content: space-between;
  }
  .location {
    margin: 0.5rem 0rem 1.2rem 0rem;
  }
  .boxes {
    margin-left: 1rem;
    width: 80%;
    @media (max-width: 600px) {
      width: 100%;
      margin-top: 2rem;
      margin-left: 0rem;
    }
  }
  .box-container {
    display: flex;
    flex-direction: column;
    height: 100%
  }
  .box {
    padding-left: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: #9b9b9d;
    background: repeating-linear-gradient(45deg,#fff,#fff 20px,#fcfcfc 20px,#fcfcfc 40px);
    border-radius: 20px/30px;
    box-shadow: 0 0 15px -2px rgb(0 0 0 / 20%);
    outline: 3px solid $light;
    outline-offset: -12px;
    position: relative;
    width: 100%;
    height: 25%;
    @media (max-width: 600px) {
      margin-left: 0rem;
      min-height: 10rem;
      min-height: 17rem;
    }
  }
  .box:before {
    content: "Detalle de Lote";
    color: $light;
    background: $white;
    position: absolute;
    font-size: 18px;
    margin-top: 10px;
    padding: 0px 15px;
    top: -10px;
    left: 10%;
  }
  .export:before {
    content: "Trillado de Café";
  }
  .cupprofile,.wetMill,.dryMill,.certification:before {
    content: "Perfil de Taza";
  }
  .wetMill:before {
    content: "Beneficio Húmedo";
  }
  .dryMill:before {
    content: "Beneficio Seco";
  }
  .certifications:before {
    content: "Certificados";
  }
  .items {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: auto auto auto auto;
    padding-top: 3rem;
    padding-left: 1rem;
    @media (max-width: 600px) {
      grid-template-columns: auto auto;
      padding-left: 0rem;
    }
  }
  .item {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 0.9rem;
  }
  .bio {
    font-size: 1.2rem;
  }
  .text-light {
    padding: 0rem;
    font-size: 1rem;
  }
  .scitem {
    display: flex;
    align-items: center;
  }
}
