@import "./colors";
@import "./fonts";

.farmer {
  display: flex;
  justify-content: center;
  padding: 3rem 2rem;
  overflow-y: scroll;
  .logo {
    height: 2rem;
  }
  .pic {
    position: absolute;
    margin-top: 1rem;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
  }
  .card {
    width: 25rem;
    border-radius: 10px;
    @media (max-width: 600px) {
      width: auto;
    }
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 1rem;
      height: 7rem;
      margin-bottom: 3rem;
      background-image: url("../assets/coffee.jpg");
    }
    &-footer {
      display: flex;
      justify-content: center;
      padding: 0.8rem;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5rem 0rem 1rem 0rem;
  }
  .location {
    margin: 0.5rem 0rem 1.2rem 0rem;
  }s
  .title {
    font-size: 0.9rem;
  }
  .bio {
    font-size: 1.2rem;
  }
  .text-light {
    padding: 0rem;
    font-size: 1rem;
  }
  .scitem {
    display: flex;
    align-items: center;
  }
}
