@import "./app";

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white;
}
.qr-modal {
  justify-content: center;

  .modal-content {
    background-color: red;
    border-color: red;
  }
  .modal-body {
    display: block;
    padding: 0rem;
    justify-content: center;
    background-color: red;
  }
  .modal-footer {
    display: block ;
    padding: 0rem;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
  }
  .btn-primary {
    font-size: 17px;
    color: white;
    background-color: transparent;
    border-color: transparent;
  }
}
